// Color scheme
$scheme-light: #132639;
$scheme-mid: #0d1a26;
$scheme-dark: #060d13;
$scheme-anchor: #addb67;

// whites
$white: #eee;
$white-75: rgba(255,255,255,0.75);
$white-50: rgba(255,255,255,0.5);
$white-25: rgba(255,255,255,0.25);
$white-10: rgba(255,255,255,0.1);

// Spacing
$global-spacing: 10px;